### resources
- [Deep Learning for NLP](http://nlp.stanford.edu/courses/NAACL2013/)
- [forum - similar competitions @ Kaggle](https://www.kaggle.com/c/crowdflower-search-relevance/forums/t/14169/any-similar-kaggle-competition)
- [Beat the bentchmark](https://www.kaggle.com/users/5309/abhishek/crowdflower-search-relevance/beating-the-benchmark)
- [BTB with pipeline](https://www.kaggle.com/users/993/ben-hamner/crowdflower-search-relevance/python-benchmark)

### Ideas
- map all entities in test set. That gives parameter - is query entity in list of all result entities. Alchemy api seems not to perform well. should use some manual 
- proportion of query words (2-grams) existing (not existing) in product title/desc-s
- proportion of query words not anywhere in test set
- word2vec library
- some words correlate with worse/better matches (eg. metal). Build boolean category for 'word_specific_class'

In [9]:
import numpy as np
import pandas as pd
import nltk

from collections import Counter, defaultdict
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer, CountVectorizer

In [2]:
df = pd.read_csv('./data/train.csv')
print df.columns

Index([u'id', u'query', u'product_title', u'product_description', u'median_relevance', u'relevance_variance'], dtype='object')

In [20]:
df.groupby(df.median_relevance).relevance_variance.aggregate(['count', 'mean', 'std'])

                  count      mean       std
median_relevance
1                   774  0.382893  0.437872
2                  1476  0.618362  0.335397
3                  1737  0.619174  0.299838
4                  6171  0.251786  0.357309

In [6]:
df['query'][:10]

0    bridal shower decorations
1         led christmas lights
2                    projector
3                    wine rack
4                   light bulb
5       oakley polarized radar
6              boyfriend jeans
7     screen protector samsung
8            pots and pans set
9                 waffle maker
Name: query, dtype: object

### Wordcount by category

In [4]:
def custom_wordcount(terms, c=None, as_dict=False):
    if c is None:
        c = Counter()
    for term in terms:
        c.update(term.lower().split())
    if as_dict:
        return c
    else:
        return sorted(c.items(), key=lambda x:x[1], reverse=True)

In [5]:
gr = df.groupby(df.median_relevance)
print gr['query'].aggregate(lambda x: custom_wordcount(x)[:6])

median_relevance
1                   [(dress, 42), (shoes, 31), (lathe, 28), (metal...
2                   [(coffee, 79), (shoes, 60), (for, 55), (dress,...
3                   [(dress, 71), (coffee, 56), (shoes, 46), (make...
4                   [(case, 205), (maker, 194), (dress, 173), (cof...
Name: query, dtype: object

### Unique words by category

In [78]:
#load words by category
words = dict()
for cat in df.median_relevance.unique():
    words[cat] = set(custom_wordcount( df[df.median_relevance == cat]['query'], as_dict=True ).keys())
#find unique words for each category
words[2].union(set(['kala']))
uniques = dict()
for cat in df.median_relevance.unique():
    uniques[cat] = words[cat] - set.union(*[wordset for tmpcat, wordset in words.iteritems() if tmpcat != cat])
    
print '\napparently no category has unique words:'
print uniques
print '\nwords only in categories 1 & 2:'
print words[1].union(words[2]) - words[3].union(words[4])
print '\nwordsonly in categories 3 & 4:'
print words[3].union(words[4]) - words[1].union(words[2])

apparently no category has unique words:
{1: set([]), 2: set([]), 3: set([]), 4: set([])}

words only in categories 1 & 2:
set(['pink', 'gown', 'lace', 'victoria', 'secret', 'victorias'])

wordsonly in categories 3 & 4:
set(['steel', 'heart', 'polar', 'short', 'speck', 'tote', 'cowboy', 'shox', 'deep', 'sports', 'volcom', 'rate', 'chandelier', 'ban', 'earbuds', 'fryers', 'bra'])

###Words that are more frequently in certain class (FEATURE)

In [74]:
'''
Compare variance by wordcounts:
Create dataframe of words and counts under each category.
describe by mean & variance
'''
aux = defaultdict(lambda : [0,0,0,0])
for i, row in df.iterrows():
    cat = row['median_relevance']
    ws = '{}'.format(
                row['query']#, row['product_title'], row['product_description']
            ).lower().replace('][@"', '')
    wc = Counter(
                filter(lambda x: len(x) > 2 and x.isalpha(), 
                       ws.split())
            )
    
    for word, count in wc.iteritems():
        aux[word][cat - 1] += count

tmp_df = pd.DataFrame(aux).transpose()

In [75]:
min_count = min( df.median_relevance.value_counts() )
normalizers = {}
for col, count in df.median_relevance.value_counts().iteritems():
    normalizers[col - 1] = count / float( min_count)
    
for col in tmp_df:
    tmp_df[col] /= normalizers[col]

In [77]:
# @todo - scale each row

tmp_df['std'] = tmp_df.apply(np.std, axis=1)
tmp_df[tmp_df['std'] > 2.0].sort(columns='std', ascending=False)

              0          1          2          3        std
dress        42  24.646341  31.637306  21.698590  11.294785
coffee       14  41.426829  24.953368  21.573165  10.890715
metal        28   2.621951   1.782383   0.000000  10.401289
lathe        28   2.621951   1.782383   0.000000  10.401289
shoes        31  31.463415  20.497409  17.183277   9.378135
lanyard      25   5.768293   0.445596   0.250851   9.112104
who          25   5.768293   0.445596   0.250851   9.112104
blue         25  14.158537   5.347150   0.501702   8.376861
jeans        27  12.060976   3.119171   5.644142   8.366640
case          2  11.536585  18.269430  25.712202   8.129257
maker         8  24.121951  19.606218  24.332523   7.728812
for          14  28.841463  19.606218  15.552747   7.535906
playstation   3  20.451220   2.673575   3.511911   6.740373
gold         23   7.865854   8.911917   4.389888   6.546373
secret       14  14.158537   0.000000   0.000000   6.296640
white        18  18.353659  10.248705   4.640739   5.850912
polo         17   4.719512   2.673575   0.376276   5.748509
bike         21  12.585366  14.704663  13.671366   5.696111
wii           9  18.353659  16.487047   4.515314   5.642078
memory       16   9.439024   9.357513  19.942635   5.452519
candle        0   4.195122  12.031088  15.051045   5.421114
nike          3  18.353659   7.575130   7.525523   5.239207
shirt        12  20.451220   9.803109   9.156053   5.236091
women        16  15.207317  11.585492  12.667963   5.087342
pittsburgh    1   2.621951  14.704663   1.379679   5.086678
pirates       1   2.621951  14.704663   1.379679   5.086678
leather      14  15.731707   5.792746   3.386485   5.021535
cat          14   1.048780   1.336788   1.630530   4.922857
grass        14   1.048780   1.336788   1.630530   4.922857
nespresso     3  15.207317   4.010363   1.254254   4.905207
...          ..        ...        ...        ...        ...
train         0   3.670732   7.129534   3.386485   2.293278
thomas        0   3.670732   7.129534   3.386485   2.293278
charger       4   6.817073   7.575130   6.396694   2.282443
yankees       7   4.719512   5.792746   0.877978   2.249237
bras          6   6.817073   2.227979   1.254254   2.231587
fair          6   6.817073   2.227979   1.254254   2.231587
vanity        6   6.817073   2.227979   1.254254   2.231587
hair          0   1.573171   6.683938   3.386485   2.230208
projector     8   4.195122   1.782383   4.640739   2.209421
cover         7   4.195122   7.575130   5.017015   2.205815
cleats        7   0.524390   2.227979   2.006806   2.186380
aqua          4   7.865854   5.347150   2.006806   2.184798
three         8   2.621951   3.564767   2.257657   2.177720
wheeled       8   2.621951   3.564767   2.257657   2.177720
hat           1   7.341463   3.564767   2.508508   2.155150
skirt         7   1.048780   1.336788   2.884784   2.142518
pencil        7   1.048780   1.336788   2.884784   2.142518
led           6   2.621951   0.891192   6.271269   2.142130
phone         3   4.195122   7.575130   6.396694   2.129350
frame         0   2.621951   6.238342   1.128828   2.104145
photo         0   2.621951   6.238342   1.128828   2.104145
children      8   3.146341   3.119171   2.884784   2.101777
khaki         4   7.865854   2.673575   2.759358   2.085321
rice          0   0.524390   2.227979   5.894993   2.064584
polarized     0   2.621951   2.673575   6.396694   2.054062
womens        2   7.341463   4.010363   5.267866   2.047101
ralph         5   0.524390   6.238342   4.139037   2.041496
wreck         5   0.524390   6.238342   4.139037   2.041496
pressure      0   0.524390   0.891192   5.644142   2.032892
hard          1   4.195122   5.347150   6.396694   2.014380

[217 rows x 5 columns]

In [7]:
aux = pd.DataFrame({'a':range(1,10), 'b':range(11,20), 'c':np.repeat('a', 9)})
#len(df['victoria' in df['query']]) 
tmp_index = aux.c.map(lambda x: 'b' in x)

df[df['query'].map(lambda x: 'shoe' in x.lower())][['query', 'product_title', 'median_relevance']][:5]

,query,product_title,median_relevance
21,aqua shoes,Nurse Mates Bryar (Women's) Aqua,4
35,dc shoes black,Women's DC Shoes Trase TX Black/White,4
55,dc shoes black,Boys' DC Shoes Pure Black/Grey/Yellow,3
62,skechers womens shoes,Danskin Now Girl's Bungee Tie Cross-trainer Shoe,2
125,ecco shoes,Ecco Enrico Sneakers Men's Shoes,4